# Node modules
node_modules/

# Environment variables
.env
.env.test
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Frontend (if you intend to keep it in a separate repo)
shopg-frontend/
